.customer_container {
  width: 100vw;
  height: auto;
}

.customer_container > .customer_container_title {
  width: 100%;
  margin: 2rem 0 1rem;
  padding: 1rem 0;
  background-color: #787878;
}

.customer_container > .show_data_container {
  width: 100%;
  height: auto;
  margin-bottom: 6rem;
}

.customer_container > .show_data_container > .data_header,
.customer_container > .show_data_container > .data_mapping_container {
  max-width: 140rem;
  margin: 0 auto;
}

.customer_container > .show_data_container > .data_header {
  width: 95%;
  height: 4rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.customer_container
  > .show_data_container
  > .data_header
  > .data_header_columns {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}

.name_column,
.data_row_name,
.data_row_input_name {
  width: 12%;
}

.customer_column,
.city_column,
.data_row_customer,
.data_row_city,
.data_row_input_customer,
.data_row_input_city {
  width: 15%;
}

.dispatch_column,
.appt_column,
.data_row_dispatch,
.data_row_appt,
.data_row_input_dispatch,
.data_row_input_appt {
  width: 10%;
}

.move_column,
.data_row_move,
.data_row_input_move {
  width: 18%;
}

.det_column,
.data_row_det,
.data_row_input_det {
  width: 5%;
}

.edit_column,
.data_row_edit {
  width: 15%;
}

.data_mapping_container {
  width: 95%;
  height: auto;
  margin: 0 auto;
}

.data_mapping_container > .data_row {
  width: auto;
  height: 3rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data_mapping_container > .data_row:nth-of-type(odd) {
  color: #000;
  font-weight: 600;
  background-color: rgb(172, 167, 167);
}

.data_mapping_container > .data_row > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}

.data_mapping_container > .data_row > input {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: 1px solid #fff;
}

.data_mapping_container > .data_row > input::placeholder {
  color: rgb(102, 105, 105);
  font-style: italic;
  font-weight: 600;
}

.data_mapping_container > .data_row > .data_row_move {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data_mapping_container > .data_row > .data_row_move > select {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.data_mapping_container > .data_row > .data_row_move > button {
  width: 7rem;
  height: 80%;
  margin: 0 0.5rem;
  text-transform: capitalize;
  cursor: pointer;
}

.data_mapping_container > .data_row > .data_row_det > input {
  cursor: pointer;
}

.data_mapping_container > .data_row > .data_row_edit > button {
  width: 6rem;
  height: 80%;
  margin: 0 0.5rem;
  text-transform: capitalize;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.3rem #00000081;
}

/* Conditional Rendering Styling */
